
body{background-image:url(./Pretendente-surpresa-4-432x652.webp);background-repeat:no-repeat;background-size:20%;background-position-x:right ;background-position:center;background-position-y:-50% ;}
p{color:black;}