
body{background-image:url(./Pretendente-surpresa-4-432x652.webp);background-repeat:no-repeat;background-size: 20%;background-position-x:right ;background-position-x:right;background-position-y:170px;}
img{width: 10%;}
p{color:black;}